#App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editor-container {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.editor-container .cm-editor {
    height: 100%;
}

.editor-container .cm-editor.cm-focused {
    outline: none;
}
